# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

!lib

lib/src/main/resources/dll/*
!lib/src/main/resources/dll/**/.gitkeep
lib/src/main/resources/jniLibs/*
!lib/src/main/resources/jniLibs/**/.gitkeep
