[package]
name = "voicevox_core_java_api"
version.workspace = true
edition.workspace = true
publish.workspace = true

[lib]
crate-type = ["cdylib"]

[features]
directml = ["voicevox_core/directml"]

[dependencies]
android_logger = "0.13.3"
anyhow.workspace = true
chrono = "0.4.26"
jni = "0.21.1"
once_cell.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
voicevox_core.workspace = true

[dev-dependencies]
test_util.workspace = true
