# Tmpfile
*.swp
*.save

# Archives
*.zip

# ONNX
onnxruntime*/

# DirectML
directml*/

# Build artifacts
build/
lib/
bin/
core/_core.cpp

# Output
*.wav

# Python
__pycache__/
*.egg-info

# Maturin
*.abi3.dll
*.abi3.dylib
*.abi3.so

# Python API
/crates/voicevox_core_python_api/python/voicevox_core/model/

# CMake
CMakeFiles/
CMakeCache.txt

# VSCode
.vscode/

# Voicevox release
release/

# Visual Studio
.vs/
packages/

# Cargo
target
