# Tmpfile 
*.swp
*.save

# Archives
*.zip

# Torch
libtorch/

# Core
core/

# ONNX
onnx/build/
onnx/lib/
onnx/model/
onnxruntime*/
onnx/python/build/
!onnx/python/core/
onnx/python/core/*.h
onnx/python/core/*.cpp
onnx/python/core/*.lib
onnx/python/core/*.dll
onnx/python/core/*.so