targets = [
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "i686-pc-windows-msvc" },
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-apple-darwin" },
]

[bans]
multiple-versions = "allow"
allow-build-scripts = [
    { name = "ahash", version = "0.7" }, # https://docs.rs/crate/ahash/0.7.0/source/build.rs
    { name = "anyhow", version = "1" }, # https://docs.rs/crate/anyhow/1.0.0/source/build.rs
    { name = "async-io", version = "1" }, # https://docs.rs/crate/async-io/1.0.0/source/
    { name = "async-trait", version = "0.1" }, # https://docs.rs/crate/async-trait/0.1.0/source/
    { name = "backtrace", version = "0.3" }, # https://docs.rs/crate/backtrace/0.3.0/source/build.rs
    { name = "bindgen", version = "0.60" }, # https://docs.rs/crate/bindgen/0.60.0/source/build.rs
    { name = "cbindgen", version = "0.24" }, # https://docs.rs/crate/cbindgen/0.24.0/source/build.rs
    { name = "const_fn", version = "0.4" }, # https://docs.rs/crate/const_fn/0.4.0/source/build.rs
    { name = "cookie", version = "0.14" }, # https://docs.rs/crate/cookie/0.14.0/source/
    { name = "crc32fast", version = "1.0.1" }, # https://docs.rs/crate/crc32fast/1.0.1/source/build.rs
    { name = "crossbeam-utils", version = "0.8.7" }, # https://docs.rs/crate/crossbeam-utils/0.8.7/source/build.rs
    { name = "curl", version = "0.4" }, # https://docs.rs/crate/curl/0.4.0/source/
    { name = "encoding_rs", version = "0.8" }, # https://docs.rs/crate/encoding_rs/0.8.0/source/
    { name = "eyre", version = "0.6" }, # https://docs.rs/crate/eyre/0.6.0/source/build.rs
    { name = "futures-channel", version = "0.3.11" }, # https://docs.rs/crate/futures-channel/0.3.11/source/
    { name = "futures-core", version = "0.3" }, # https://docs.rs/crate/futures-core/0.3.0/source/
    { name = "futures-task", version = "0.3" }, # https://docs.rs/crate/futures-task/0.3.0/source/build.rs
    { name = "futures-util", version = "0.3.11" }, # https://docs.rs/crate/futures-util/0.3.11/source/
    { name = "generic-array", version = "0.14.1" }, # https://docs.rs/crate/generic-array/0.14.1/source/build.rs
    { name = "getrandom", version = "0.1" }, # https://docs.rs/crate/getrandom/0.1.0/source/
    { name = "http-types", version = "2.0.1" }, # https://docs.rs/crate/http-types/2.0.1/source/
    { name = "indexmap", version = "1" }, # https://docs.rs/crate/indexmap/1.0.0/source/build.rs
    { name = "isahc", version = "0.9" }, # https://docs.rs/crate/isahc/0.9.0/source/build.rs
    { name = "libc", version = "0.2" }, # https://docs.rs/crate/libc/0.2.0/source/
    { name = "link-cplusplus", version = "1" }, # https://docs.rs/crate/link-cplusplus/1.0.0/source/build.rs
    { name = "lock_api", version = "0.4" }, # https://docs.rs/crate/lock_api/0.4.0/source/
    { name = "log", version = "0.4" }, # https://docs.rs/crate/log/0.4.0/source/
    { name = "memchr", version = "2" }, # https://docs.rs/crate/memchr/2.0.0/source/
    { name = "memoffset", version = "0.6.1" }, # https://docs.rs/crate/memoffset/0.6.1/source/build.rs
    { name = "mime_guess", version = "2" }, # https://docs.rs/crate/mime_guess/2.0.0/source/build.rs
    { name = "num-integer", version = "0.1.32" }, # https://docs.rs/crate/num-integer/0.1.32/source/
    { name = "num-traits", version = "0.2" }, # https://docs.rs/crate/num-traits/0.2.0/source/
    { name = "parking_lot_core", version = "0.9" }, # https://docs.rs/crate/parking_lot_core/0.9.0/source/build.rs
    { name = "polling", version = "2" }, # https://docs.rs/crate/polling/2.0.0/source/
    { name = "proc-macro-error", version = "1" }, # https://docs.rs/crate/proc-macro-error/1.0.0/source/build.rs
    { name = "proc-macro-error-attr", version = "1" }, # https://docs.rs/crate/proc-macro-error-attr/1.0.0/source/build.rs
    { name = "proc-macro-hack", version = "0.5" }, # https://docs.rs/crate/proc-macro-hack/0.5.0/source/
    { name = "proc-macro2", version = "1" }, # https://docs.rs/crate/proc-macro2/1.0.0/source/build.rs
    { name = "pyo3", version = "0.17" }, # https://docs.rs/crate/pyo3/0.17.0/source/build.rs
    { name = "pyo3-build-config", version = "0.17" }, # https://docs.rs/crate/pyo3-build-config/0.17.0/source/build.rs
    { name = "pyo3-ffi", version = "0.17" }, # https://docs.rs/crate/pyo3-ffi/0.17.0/source/build.rs
    { name = "quote", version = "1" }, # https://docs.rs/crate/quote/1.0.0/source/
    { name = "rstest_macros", version = "0.14" }, # https://docs.rs/crate/rstest_macros/0.14.0/source/build.rs
    { name = "rustls", version = "0.20" }, # https://docs.rs/crate/rustls/0.20.0/source/
    { name = "semver", version = "1" }, # https://docs.rs/crate/semver/1.0.0/source/build.rs
    { name = "serde", version = "1" }, # https://docs.rs/crate/serde/1.0.0/source/
    { name = "serde_derive", version = "1" }, # https://docs.rs/crate/serde_derive/1.0.0/source/
    { name = "serde_json", version = "1" }, # https://docs.rs/crate/serde_json/1.0.0/source/
    { name = "slab", version = "0.4" }, # https://docs.rs/crate/slab/0.4.0/source/
    { name = "standback", version = "0.2" }, # https://docs.rs/crate/standback/0.2.0/source/build.rs
    { name = "syn", version = "1" }, # https://docs.rs/crate/syn/1.0.0/source/build.rs
    { name = "target-lexicon", version = "0.12" }, # https://docs.rs/crate/target-lexicon/0.12.0/source/build.rs
    { name = "thiserror", version = "1" }, # https://docs.rs/crate/thiserror/1.0.0/source/build.rs
    { name = "time", version = "0.2" }, # https://docs.rs/crate/time/0.2.0/source/build.rs
    { name = "typenum", version = "1" }, # https://docs.rs/crate/typenum/1.0.0/source/src/__private/build.rs
    { name = "unicase", version = "2" }, # https://docs.rs/crate/unicase/2.0.0/source/build.rs
    { name = "value-bag", version = "1.0.0-alpha.9" }, # https://docs.rs/crate/value-bag/1.0.0-alpha.9/source/build.rs
    { name = "voicevox_core" }, # ./crates/voicevox_core/build.rs
    { name = "voicevox_core_c_api" }, # ./crates/voicevox_core_c_api/build.rs
    { name = "wasm-bindgen", version = "0.2" }, # https://docs.rs/crate/wasm-bindgen/0.2.0/source/
    { name = "wasm-bindgen-shared", version = "0.2" }, # https://docs.rs/crate/wasm-bindgen-shared/0.2.0/source/build.rs
    { name = "winapi", version = "0.3" }, # https://docs.rs/crate/winapi/0.3.0/source/build.rs
    { name = "windows_i686_msvc", version = "0.36" }, # https://docs.rs/crate/windows_i686_msvc/0.36.0/source/build.rs
    { name = "windows_x86_64_msvc", version = "0.36" }, # https://docs.rs/crate/windows_x86_64_msvc/0.36.0/source/build.rs
    { name = "zstd-safe", version = "=4.1.6+zstd.1.5.2" }, # https://docs.rs/crate/zstd-safe/4.1.6+zstd.1.5.2/source/build.rs

    # https://docs.rs/crate/bzip2-sys/0.1.11+1.0.8/source/build.rs
    #
    # bzip is licensed under: https://sourceware.org/git/?p=bzip2.git;a=blob;f=LICENSE;h=81a37eab7a5be1a34456f38adb74928cc9073e9b;hb=6a8690fc8d26c815e798c588f796eabe9d684cf0
    { name = "bzip2-sys", version = "=0.1.11" },

    # https://docs.rs/crate/clang-sys/1.4.0/source/build.rs
    #
    # libclang is licensed under `Apache-2.0 WITH LLVM-exception` (https://raw.githubusercontent.com/llvm/llvm-project/main/llvm/LICENSE.TXT)
    { name = "clang-sys", version = "=1.4.0" },

    # https://docs.rs/crate/curl-sys/0.4.0/source/build.rs
    #
    # Curl is licensed under: `curl` (https://github.com/curl/curl/blob/curl-7_83_1/COPYING)
    { name = "curl-sys", version = "=0.4.56" },

    # https://docs.rs/crate/libnghttp2-sys/0.1.7+1.45.0/source/build.rs
    #
    # libnghttp2 is licensed under `MIT` (https://docs.rs/crate/libnghttp2-sys/0.1.7+1.45.0/source/nghttp2/COPYING)
    { name = "libnghttp2-sys", version = "=0.1.7" },

    # https://docs.rs/crate/libz-sys/1.1.8/source/build.rs
    #
    # zlib is licensed under `Zlib` (https://docs.rs/crate/libz-sys/1.1.8/source/src/zlib/zlib.h)
    # zlib-ng is licensed under `Zlib` (https://docs.rs/crate/libz-sys/1.1.8/source/src/zlib-ng/LICENSE.md)
    { name = "libz-sys", version = "=1.1.8" },

    # https://github.com/VOICEVOX/onnxruntime-rs/blob/bee215aaf6d5e346d96e0724acd02a51f612a72e/onnxruntime-sys/build.rs
    #
    # ONNX Runtime is licensed under `MIT` (https://github.com/microsoft/onnxruntime/blob/v1.11.1/LICENSE)
    { name = "onnxruntime-sys", version = "=0.0.25" },

    # https://github.com/VOICEVOX/open_jtalk-rs/blob/c77112b470874a6a963426ed6c2fb21f12394a78/crates/open_jtalk-sys/build.rs
    #
    # Open JTalk is licensed under: https://github.com/VOICEVOX/open_jtalk/blob/1.11/src/COPYING
    { name = "open_jtalk-sys", version = "=0.16.111" },

    # https://docs.rs/crate/openssl-sys/0.9.76/source/build/main.rs
    #
    # OpenSSL is licensed under `OpenSSL` (https://github.com/sfackler/rust-openssl/blob/44528bb7c908884fe68f1622d968c295fcae2667/THIRD_PARTY)
    { name = "openssl-sys", version = "=0.9.76" },

    # https://docs.rs/crate/ring/0.16.0/source/build.rs
    #
    # ring inherits licenses of C libraries: https://docs.rs/crate/ring/0.16.0/source/LICENSE
    { name = "ring", version = "0.16" },

    # https://docs.rs/crate/wepoll-ffi/0.1.0/source/build.rs
    #
    # wepoll-ffi inherits licenses of C libraries: https://docs.rs/crate/wepoll-ffi/0.1.0/source/NOTICE
    { name = "wepoll-ffi", version = "0.1" },

    # https://docs.rs/crate/zstd-sys/1.6.3+zstd.1.5.2/source/build.rs
    #
    # zstd-sys is licensed under "BSD and GPLv2.", but is not linked with the our releases
    #
    # ```console
    # ❯ ! cargo tree --edges normal | grep -F 'zstd-sys v1.6.3+zstd.1.5.2'
    # ```
    { name = "zstd-sys", version = "=1.6.3+zstd.1.5.2" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-org = { github = ["VOICEVOX"] }

[licenses]
allow = [
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CC0-1.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "OpenSSL",
    "Unicode-DFS-2016",
]
clarify = [
    { name = "ring", expression = "MIT AND ISC AND OpenSSL", license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }] },

    # TODO: `package.license`を書く
    { name = "open_jtalk", expression = "BSD-3-Clause", license-files = [] },
    { name = "open_jtalk-sys", expression = "BSD-3-Clause", license-files = [] },
    { name = "voicevox_core", expression = "MIT", license-files = [] },
    { name = "voicevox_core_c_api", expression = "MIT", license-files = [] },
    { name = "voicevox_core_python_api", expression = "MIT", license-files = [] },
    { name = "xtask", expression = "MIT", license-files = [] },
]
