[package]
name = "voicevox_core"
version.workspace = true
edition.workspace = true
publish.workspace = true

[features]
default = []
directml = ["onnxruntime/directml"]


[dependencies]
anyhow.workspace = true
cfg-if = "1.0.0"
derive-getters = "0.2.0"
derive-new = "0.5.9"
once_cell.workspace = true
onnxruntime = { git = "https://github.com/VOICEVOX/onnxruntime-rs.git", rev="ddcdc56a5fc0b6cf38faf8b5349c44fbf5a2ca8c" }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
open_jtalk = { git = "https://github.com/VOICEVOX/open_jtalk-rs.git", rev="9edab53f0bfa877dbb37224d17fd0f3efbe32abd" }
regex = "1.6.0"

[dev-dependencies]
rstest = "0.15.0"
pretty_assertions = "1.3.0"
async-std = { version = "1.12.0", features = ["attributes"] }
surf = "2.3.2"
flate2 = "1.0.24"
tar = "0.4.38"
heck = "0.4.0"
