[package]
name = "voicevox_core"
version = "0.1.0"
edition = "2021"

[features]
default = []
directml = ["onnxruntime/directml"]
generate-c-header = ["dep:cbindgen"]

[lib]
name = "core"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.57"
cfg-if = "1.0.0"
derive-getters = "0.2.0"
derive-new = "0.5.9"
libc = "0.2.126"
once_cell = "1.10.0"
onnxruntime = { git = "https://github.com/VOICEVOX/onnxruntime-rs.git", version = "0.0.30" }
serde = "1.0.137"
serde_json = "1.0.81"
thiserror = "1.0.31"
open_jtalk = { git = "https://github.com/VOICEVOX/open_jtalk-rs.git", version = "0.1.25" }
regex = "1.6.0"

[dev-dependencies]
rstest = "0.12.0"
pretty_assertions = "1.2.1"
async-std = { version = "1.12.0", features = ["attributes"] }
surf = "2.3.2"
flate2 = "1.0.24"
tar = "0.4.38"


[build-dependencies]
cbindgen = { version = "0.23.0", optional = true }
