[package]
name = "voicevox_core"
version.workspace = true
edition.workspace = true
publish.workspace = true

[features]
default = []
directml = ["onnxruntime/directml"]


[dependencies]
anyhow.workspace = true
cfg-if = "1.0.0"
derive-getters.workspace = true
derive-new = "0.5.9"
easy-ext.workspace = true
fs-err.workspace = true
once_cell.workspace = true
onnxruntime = { git = "https://github.com/VOICEVOX/onnxruntime-rs.git", rev="ebb9dcb9b26ee681889b52b6db3b4f642b04a250" }
process_path.workspace = true
serde.workspace = true
serde_json.workspace = true
strum.workspace = true
thiserror.workspace = true
tracing.workspace = true
open_jtalk = { git = "https://github.com/VOICEVOX/open_jtalk-rs.git", rev="d766a52bad4ccafe18597e57bd6842f59dca881e" }
regex.workspace = true
async_zip = { version = "0.0.11", features = ["full"] }
futures = "0.3.26"
nanoid = "0.4.0"
tokio.workspace = true 

[dev-dependencies]
rstest = "0.15.0"
pretty_assertions = "1.3.0"
flate2 = "1.0.24"
tar = "0.4.38"
heck = "0.4.0"
test_util.workspace = true

[target."cfg(windows)".dependencies]
humansize = "2.1.2"
windows = { version = "0.43.0", features = ["Win32_Foundation", "Win32_Graphics_Dxgi"] }

[build-dependencies]
anyhow.workspace = true
fs-err.workspace = true
quote = { version = "1.0.28", default-features = false }
