[package]
name = "voicevox_core"
version = "0.1.0"
edition = "2021"


[lib]
name = "core"
crate-type = ["cdylib"]


[dependencies]
derive-getters = "0.2.0"
derive-new = "0.5.9"
thiserror = "1.0.31"

[build-dependencies]
cbindgen = "0.23.0"
