[package]
name = "voicevox_core_python_api"
version = "0.0.0"
edition.workspace = true
publish.workspace = true

[lib]
crate-type = ["cdylib"]

[features]
directml = ["voicevox_core/directml"]

[dependencies]
camino.workspace = true
easy-ext.workspace = true
log.workspace = true
pyo3 = { workspace = true, features = ["abi3-py38", "extension-module"] }
pyo3-asyncio = { workspace = true, features = ["tokio-runtime"] }
pyo3-log.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
tracing = { workspace = true, features = ["log"] }
uuid.workspace = true
voicevox_core.workspace = true

[lints.rust]
unsafe_code = "forbid"
rust_2018_idioms = "warn"
