[package]
name = "voicevox_core_python_api"
version = "0.0.0"
edition.workspace = true
publish.workspace = true

[package.metadata.maturin]
name = "voicevox_core._rust"
python-source = "python"

[lib]
crate-type = ["cdylib"]

[features]
directml = ["voicevox_core/directml"]

[dependencies]
easy-ext.workspace = true
log = "0.4.17"
once_cell.workspace = true
openssl = { version = "0.10.57", features = ["vendored"] }
pyo3 = { version = "0.18.0", features = ["abi3-py38", "extension-module"] }
pyo3-asyncio = { version = "0.18.0", features = ["tokio-runtime"] }
pyo3-log = "0.8.0"
serde.workspace = true
serde_json.workspace = true
test_util.workspace = true # only for it's build script
tokio.workspace = true
uuid.workspace = true
voicevox_core.workspace = true
