[package]
name = "voicevox_core_python_api"
version = "999.999.999"
edition = "2021"
publish = false

[package.metadata.maturin]
name = "voicevox_core._rust"
python-source = "python"

[lib]
crate-type = ["cdylib"]

[features]
directml = ["voicevox_core/directml"]

[dependencies]
easy-ext = "1.0.0"
log = "0.4.17"
numpy = "0.17.0"
pyo3 = { version = "0.17.0", features = ["abi3-py38", "extension-module"] }
pyo3-log = "0.7.0"
serde = "1.0.144"
serde_json = "1.0.83"
voicevox_core = { path = "../voicevox_core" }
