[project]
name = "voicevox_core"
requires-python = ">=3.8"
dependencies = ["pydantic>=2.5.2,<3"]
description = "VOICEVOX CORE の Python バインディングです。"
authors = [{ name = "Hiroshiba", email = "hihokaruta@gmail.com" }]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Rust",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: MacOS :: MacOS X",
    "Environment :: GPU :: NVIDIA CUDA",
]
# TODO：ユーザー用のREADMEを作る
# readme = "README.md"

[build-system]
requires = ["maturin>=1.3.1,<2"]
build-backend = "maturin"

[tool.isort]
profile = "black"

[tool.pyright]
executionEnvironments = [{ root = "python/test" }, { root = "python" }]

[tool.maturin]
module-name = "voicevox_core._rust"
bindings = "pyo3"
skip-auditwheel = true # Linuxでlibonnxruntime.so.*の不在を許してもらう
python-source = "python"

[tool.poetry]
# Poetryはこれがないと動かない
name = "voicevox_core"
version = "0.0.0"
description = "VOICEVOX CORE の Python バインディングです。"
authors = []

[tool.poetry.dependencies]
python = ">=3.8,<3.13"
pydantic = ">=2.5.2,<3"

[tool.poetry.group.docs.dependencies]
sphinx = "6.2.1"
pydata-sphinx-theme = "0.14.1"
sphinx-autoapi = "3.0.0"

[tool.poetry.group.dev.dependencies]
maturin = "1.3.1"

[tool.poetry.group.test.dependencies]
pytest = "7.3.1"
pytest-asyncio = "0.21.0"
black = "23.3.0"
isort = "5.12.0"
