[package]
name = "downloader"
version = "0.0.0"
edition.workspace = true
publish.workspace = true

[[bin]]
name = "download"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
binstall-tar = "0.4.39"
bytes = "1.1.0"
clap.workspace = true
flate2 = "1.0.25"
fs-err.workspace = true
futures-core = "0.3.25"
futures-util = "0.3.25"
indicatif = "0.17.3"
itertools.workspace = true
octocrab = { version = "0.19.0", default-features = false, features = ["rustls-tls", "stream"] }
once_cell.workspace = true
parse-display = "0.8.2"
platforms = "3.0.2"
rayon = "1.6.1"
reqwest = { version = "0.11.13", default-features = false, features = ["rustls-tls", "stream"] }
strum.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
url = "2.3.0"
zip = "0.6.3"

[dev-dependencies]
rstest.workspace = true
