[package]
name = "voicevox_core_c_api"
version.workspace = true
edition.workspace = true
publish.workspace = true

[lib]
name = "voicevox_core"
crate-type = ["cdylib"]

[[test]]
name = "e2e"
harness = false

[features]
directml = ["voicevox_core/directml"]

[dependencies]
voicevox_core.workspace = true
chrono = { version = "0.4.23", default-features = false, features = ["clock"] } # https://github.com/chronotope/chrono/issues/602
is-terminal = "0.4.2"
libc = "0.2.134"
once_cell.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tracing-subscriber.workspace = true
tokio.workspace = true
derive-getters.workspace = true

[dev-dependencies]
pretty_assertions = "1.3.0"
anyhow.workspace = true
rstest = "0.15.0"
assert_cmd = { version = "2.0.8", features = ["color-auto"] }
clap.workspace = true
duct = "0.13.6"
easy-ext.workspace = true
libloading = "0.7.3"
libtest-mimic = "0.6.0"
ndarray = "0.15.6"
ndarray-stats = "0.5.1"
process_path.workspace = true
regex.workspace = true
serde.workspace = true
strum.workspace = true
test_util.workspace = true
toml = "0.7.2"
typetag = "0.2.5"
inventory = "0.3.4"
