[package]
name = "voicevox_core_c_api"
version.workspace = true
edition.workspace = true
publish.workspace = true

[lib]
name = "voicevox_core"
crate-type = ["cdylib"]

[features]
directml = ["voicevox_core/directml"]

[dependencies]
voicevox_core.workspace = true
is-terminal = "0.4.2"
libc = "0.2.134"
once_cell.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }

[dev-dependencies]
pretty_assertions = "1.3.0"
anyhow.workspace = true
rstest = "0.15.0"
