language = "C"

# Options for wrapping the contents of the header:

header = """
/**
 * @file voicevox_core.h
 *
 * 無料で使える中品質なテキスト読み上げソフトウェア、VOICEVOXのコア。
 */"""
include_guard = "VOICEVOX_CORE_INCLUDE_GUARD"
no_includes = true
include_version = true
cpp_compat = true
after_includes = """
#ifdef __cplusplus
#include <cstdint>
#else // __cplusplus
#include <stdbool.h>
#include <stdint.h>
#endif // __cplusplus"""

# Code Style Options

documentation_style = "doxy"

# Codegen Options

[fn]
prefix = """
#ifdef _WIN32
__declspec(dllimport)
#endif"""
args = "vertical"

[enum]
rename_variants = "ScreamingSnakeCase"

# Options for how your Rust library should be parsed

[parse]
parse_deps = true
include = ["voicevox_core"]
