name: Build C++ Shared Library

on:
  push:
    branches:
      # - main
  pull_request:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: "バージョン情報（A.BB.C / A.BB.C-preview.D）"
        required: true
      code_signing:
        description: "コード署名する"
        type: boolean

env:
  # releaseタグ名か、workflow_dispatchでのバージョン名か、DEBUGが入る
  VERSION: ${{ github.event.release.tag_name || github.event.inputs.version || 'DEBUG' }}

  # Raw character weights are not public.
  # Skip uploading to GitHub Release on public repo.
  SKIP_UPLOADING_RELEASE_ASSET: ${{ secrets.SKIP_UPLOADING_RELEASE_ASSET || '1' }}

jobs:
  build-cpp-shared:
    environment: ${{ github.event.inputs.code_signing && 'code_signing' }} # コード署名用のenvironment
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2019
            device: gpu
            python_architecture: "x64"
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-win-x64-gpu-1.10.0.zip
            artifact_name: windows-x64-cuda

          - os: windows-2019
            device: cpu-x64
            python_architecture: "x64"
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-win-x64-1.10.0.zip
            artifact_name: windows-x64-cpu

          - os: windows-2019
            device: cpu-x86
            python_architecture: "x86"
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-win-x86-1.10.0.zip
            cmake_additional_options: -DCMAKE_GENERATOR_PLATFORM=Win32
            artifact_name: windows-x86-cpu

          - os: windows-2019
            device: cpu-arm64
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-win-arm64-1.10.0.zip
            cmake_additional_options: -DCMAKE_GENERATOR_PLATFORM=arm64
            artifact_name: windows-arm64-cpu

          - os: windows-2019
            device: cpu-arm
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-win-arm-1.10.0.zip
            cmake_additional_options: -DCMAKE_GENERATOR_PLATFORM=arm
            artifact_name: windows-arm-cpu

          - os: windows-2019
            device: directml
            python_architecture: "x64"
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/Microsoft.ML.OnnxRuntime.DirectML.1.10.0.zip
            directml_url: https://www.nuget.org/api/v2/package/Microsoft.AI.DirectML/1.8.0
            cmake_additional_options: -DDIRECTML=ON -DDIRECTML_DIR=download/directml
            artifact_name: windows-x64-directml

          - os: macos-10.15
            device: cpu-x64
            python_architecture: "x64"
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-osx-universal2-1.10.0.tgz
            artifact_name: osx-universal2-cpu

          - os: ubuntu-18.04
            device: gpu
            python_architecture: "x64"
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-linux-x64-gpu-1.10.0.tgz
            artifact_name: linux-x64-gpu
            cc_version: "8"
            cxx_version: "8"

          - os: ubuntu-18.04
            device: cpu-x64
            python_architecture: "x64"
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-linux-x64-1.10.0.tgz
            artifact_name: linux-x64-cpu
            cc_version: "8"
            cxx_version: "8"

          - os: ubuntu-18.04
            device: cpu-armhf
            onnxruntime_url: https://github.com/VOICEVOX/onnxruntime-builder/releases/download/1.10.0.1/onnxruntime-linux-armhf-cpu-v1.10.0.tgz
            artifact_name: linux-armhf-cpu
            cc_version: "8"
            cxx_version: "8"
            arch: arm-linux-gnueabihf

          - os: ubuntu-18.04
            device: cpu-arm64
            onnxruntime_url: https://github.com/VOICEVOX/onnxruntime-builder/releases/download/1.10.0.1/onnxruntime-linux-arm64-cpu-v1.10.0.tgz
            artifact_name: linux-arm64-cpu
            cc_version: "8"
            cxx_version: "8"
            arch: aarch64-linux-gnu

    runs-on: ${{ matrix.os }}

    env:
      # prefix usage: "", "arm-linux-gnueabihf-" => "gcc-8", "arm-linux-gnueabihf-gcc-8" (command name)
      # suffix usage: "", "-arm-linux-gnueabihf" => "gcc-8", "gcc-8-arm-linux-gnueabihf" (package name)
      ARCH_PREFIX: "${{ (matrix.arch != '' && matrix.arch) || '' }}${{ (matrix.arch != '' && '-') || '' }}"
      ARCH_SUFFIX: "${{ (matrix.arch != '' && '-') || '' }}${{ (matrix.arch != '' && matrix.arch) || '' }}"

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Python
        if: matrix.python_architecture != ''
        id: setup-python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: ${{ matrix.python_architecture }}
          cache: pip

      - run: mkdir download

      # ONNX Runtime
      - name: Export ONNX Runtime url to calc hash
        shell: bash
        run: echo "${{ matrix.onnxruntime_url }}" > download/onnxruntime_url.txt

      - name: Cache ONNX Runtime
        uses: actions/cache@v2
        id: onnxruntime-cache
        with:
          key: onnxruntime-cache-v1-${{ hashFiles('download/onnxruntime_url.txt') }}
          path: download/onnxruntime

      - name: Export DirectML url to calc hash
        if: endswith(matrix.artifact_name, '-directml')
        shell: bash
        run: echo "${{matrix.directml_url}}" >> download/directml_url.txt

      - name: Cache DirectML
        if: endswith(matrix.artifact_name, '-directml')
        uses: actions/cache@v2
        id: directml-cache
        with:
          key: directml-cache-v1-${{ hashFiles('download/directml_url.txt') }}
          path: download/directml

      # download/onnxruntime/lib/onnxruntime.dll
      - name: Download ONNX Runtime (zip)
        if: steps.onnxruntime-cache.outputs.cache-hit != 'true' && endsWith(matrix.onnxruntime_url, '.zip')
        shell: bash
        run: |
          curl -L "${{ matrix.onnxruntime_url }}" > download/onnxruntime.zip
          mkdir -p download/onnxruntime

          # strip-components
          TEMPDIR=$(mktemp -d)
          unzip download/onnxruntime.zip -d "${TEMPDIR}"

          if [[ ${{ matrix.artifact_name }} != *-directml ]]; then
            mv "${TEMPDIR}"/*/* download/onnxruntime/
          else
            mv "${TEMPDIR}"/* download/onnxruntime/
          fi

          rm -rf "${TEMPDIR}"

          rm download/onnxruntime.zip

      # download/onnxruntime/lib/libonnxruntime.so
      # download/onnxruntime/lib/libonnxruntime.dylib
      - name: Download ONNX Runtime (tgz)
        if: steps.onnxruntime-cache.outputs.cache-hit != 'true' && endsWith(matrix.onnxruntime_url, '.tgz')
        shell: bash
        run: |
          curl -L "${{ matrix.onnxruntime_url }}" > download/onnxruntime.tgz
          mkdir -p download/onnxruntime
          tar xf download/onnxruntime.tgz -C download/onnxruntime --strip-components 1
          rm download/onnxruntime.tgz

      # download directml
      - name: Download DirectML
        if: steps.directml-cache.outputs.cache-hit != 'true' && endswith(matrix.artifact_name, '-directml')
        shell: bash
        run: |
          curl -L "${{matrix.directml_url}}" -o download/directml.zip
          mkdir -p download/directml

          # strip-components
          TEMPDIR=$(mktemp -d)
          unzip download/directml.zip -d "${TEMPDIR}"
          mv "${TEMPDIR}"/* download/directml/.
          rm -rf "${TEMPDIR}"

          rm download/directml.zip

          ls download/directml

      # Build
      - if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.python_architecture }}

      - if: startsWith(matrix.os, 'mac')
        uses: jwlawson/actions-setup-cmake@v1.9

      # gcc 7 (ubuntu-18.04 default) does not have stdc++fs
      - name: Install build dependencies
        if: startsWith(matrix.os, 'ubuntu')
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gcc-${{ matrix.cc_version }}${{ env.ARCH_SUFFIX }} \
            g++-${{ matrix.cxx_version }}${{ env.ARCH_SUFFIX }} \
            cmake

      - name: Configure (Windows)
        if: startsWith(matrix.os, 'windows')
        shell: bash
        run: |
          cmake -DONNXRUNTIME_DIR=download/onnxruntime ${{ matrix.cmake_additional_options }} .

      # libcore.dylib for macOS universal
      - name: Configure (macOS)
        if: startsWith(matrix.os, 'macos')
        shell: bash
        run: |
          env CMAKE_OSX_ARCHITECTURES="x86_64;arm64" cmake -DONNXRUNTIME_DIR=download/onnxruntime ${{ matrix.cmake_additional_options }} .

      - name: Configure (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        shell: bash
        env:
          CC: ${{ env.ARCH_PREFIX }}gcc-${{ matrix.cc_version }}
          CXX: ${{ env.ARCH_PREFIX }}g++-${{ matrix.cxx_version }}
        run: |
          cmake -DONNXRUNTIME_DIR=download/onnxruntime ${{ matrix.cmake_additional_options }} .

      - name: Build
        shell: bash
        run: |
          cmake --build . --config Release

          # copy lib to core/lib/* and set rpath (linux)
          cmake --install .

      - name: Unit test ${{ matrix.python_architecture }}
        if: matrix.python_architecture != ''
        shell: bash
        run: |
          pip install -r requirements.txt
          python setup.py test

      - name: Set ASSET_NAME env var
        shell: bash
        run: |
          echo "ASSET_NAME=voicevox_core-${{ matrix.artifact_name }}-${{ env.VERSION }}" >> $GITHUB_ENV

      - name: Organize artifact
        shell: bash
        run: |
          mkdir -p "artifact/${{ env.ASSET_NAME }}"

          # copy core.h (and Windows DLL if exists)
          cp -v core/lib/core* "artifact/${{ env.ASSET_NAME }}" || true
          # copy Linux/macOS shared library if exists
          cp -v core/lib/libcore* "artifact/${{ env.ASSET_NAME }}" || true

          echo "${{ env.VERSION }}" > "artifact/${{ env.ASSET_NAME }}/VERSION"

          cp README.md "artifact/${{ env.ASSET_NAME }}/README.txt"

      - name: Code signing (Windows)
        if: startsWith(matrix.os, 'windows') && github.event.inputs.code_signing
        shell: bash
        run: |
          bash build_util/codesign.bash "core.dll"
        env:
          CERT_BASE64: ${{ secrets.CERT_BASE64 }}
          CERT_PASSWORD: ${{ secrets.CERT_PASSWORD }}

      # coreのredirectブランチ戻した？
      # coreのredirectブランチ戻した？
      # coreのredirectブランチ戻した？
      # coreのredirectブランチ戻した？
      # coreのredirectブランチ戻した？

      # Upload
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.artifact_name }}-cpp-shared
          path: artifact/${{ env.ASSET_NAME }}/*
          retention-days: 7

      - name: Archive artifact
        if: env.VERSION != 'DEBUG' && !startsWith(matrix.os, 'windows-')
        shell: bash
        run: |
          cd artifact
          zip -r "../${{ env.ASSET_NAME }}.zip" "${{ env.ASSET_NAME }}"

      - name: Archive artifact (Windows)
        if: env.VERSION != 'DEBUG' && startsWith(matrix.os, 'windows-')
        run: |
          powershell Compress-Archive -Path "artifact/${{ env.ASSET_NAME }}" -DestinationPath "${{ env.ASSET_NAME }}.zip"

      - name: Upload to Release
        if: env.VERSION != 'DEBUG' && env.SKIP_UPLOADING_RELEASE_ASSET == '0'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          tag: ${{ env.VERSION }}
          file: ${{ env.ASSET_NAME }}.zip

  build-win-cpp-example:
    runs-on: windows-latest
    needs: [build-cpp-shared]

    env:
      # Path to the solution file relative to the root of the project.
      SOLUTION_FILE_PATH: example\cpp\windows\windows_example.sln

      # Configuration type to build.
      # You can convert this to a build matrix if you need coverage of multiple configuration types.
      # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
      BUILD_CONFIGURATION: Release

    steps:
      - uses: actions/checkout@v3

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Restore NuGet packages
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: nuget restore ${{env.SOLUTION_FILE_PATH}}

      - name: Download and extract artifact
        uses: actions/download-artifact@v2
        id: download
        with:
          name: windows-x64-cpu-cpp-shared
          path: artifacts\

      - name: Copy core.lib
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: |
          mkdir example\cpp\windows\simple_tts\lib\x64
          copy ${{steps.download.outputs.download-path}}\core.lib example\cpp\windows\simple_tts\lib\x64

      - name: Build
        working-directory: ${{env.GITHUB_WORKSPACE}}
        # Add additional options to the MSBuild command line here (like platform or verbosity level).
        # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
        run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

  build-unix-cpp-example:
    needs: [build-cpp-shared]
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            artifact_name: osx-universal2-cpu-cpp-shared
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-osx-universal2-1.10.0.tgz
            onnxruntime_lib_name: libonnxruntime.1.10.0.dylib
            core_name: libcore.dylib

          - os: ubuntu-latest
            artifact_name: linux-x64-cpu-cpp-shared
            onnxruntime_url: https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-linux-x64-1.10.0.tgz
            onnxruntime_lib_name: libonnxruntime.so.1.10.0
            core_name: libcore.so

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Download and extract artifact
        uses: actions/download-artifact@v2
        id: download
        with:
          name: ${{ matrix.artifact_name }}
          path: artifacts/

      - name: Copy core library
        shell: bash
        run: |
          cp ${{ steps.download.outputs.download-path }}/${{ matrix.core_name }} example/cpp/unix

      - run: mkdir download

      # ONNX Runtime
      - name: Export ONNX Runtime url to calc hash
        shell: bash
        run: echo "${{ matrix.onnxruntime_url }}" > download/onnxruntime_url.txt

      - name: Cache ONNX Runtime
        uses: actions/cache@v2
        id: onnxruntime-cache
        with:
          key: onnxruntime-cache-v1-${{ hashFiles('download/onnxruntime_url.txt') }}
          path: download/onnxruntime

      # download/onnxruntime/lib/libonnxruntime.so
      # download/onnxruntime/lib/libonnxruntime.dylib
      - name: Download ONNX Runtime (tgz)
        if: steps.onnxruntime-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          curl -L "${{ matrix.onnxruntime_url }}" > download/onnxruntime.tgz
          mkdir -p download/onnxruntime
          tar xf download/onnxruntime.tgz -C download/onnxruntime --strip-components 1
          rm download/onnxruntime.tgz

      - name: Copy ONNX Runtime
        shell: bash
        run: |
          cp download/onnxruntime/lib/${{ matrix.onnxruntime_lib_name }} example/cpp/unix

      - if: startsWith(matrix.os, 'mac')
        uses: jwlawson/actions-setup-cmake@v1.9

      - name: Install build dependencies
        if: startsWith(matrix.os, 'ubuntu')
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake

      - name: Build
        shell: bash
        run: |
          cd example/cpp/unix
          cmake -S . -B build
          cmake --build build
