name: cargo-deny
on:
  push:
  pull_request:
defaults:
  run:
    shell: bash
jobs:
  cargo-deny:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Install cargo-binstall
        uses: taiki-e/install-action@cargo-binstall
      - name: Install cargo-deny
        run: cargo binstall cargo-deny@^0.14 --no-confirm --log-level debug
      - name: cargo-deny
        run: |
          if ${{ !!github.event.release }}; then
            cargo deny --all-features check
          else
            cargo deny --all-features check -W denied
          fi
