name: Download test workflow
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "scripts/downloads/*"
      - ".github/workflows/download_test.yml"
jobs:
  downlaod-releases:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 通常ダウンロード
            os: windows-latest
            download_command: ./scripts/downloads/Download.ps1
            download_dir: voicevox_core
            check_items: |
              core.dll
              open_jtalk_dic_utf_8-1.11
              README.txt
            check_not_exists_items: |
              *directml*
              *cuda*
              *cudnn*
              *onnxruntime*providers*
              *eula*
              *nvidia*
              *cufft*
              *curand*
          - name: output先指定ダウンロード
            os: windows-latest
            download_command: ./scripts/downloads/Download.ps1 -OutFile other_output
            download_dir: other_output
            check_items: |
              core.dll
              open_jtalk_dic_utf_8-1.11
              README.txt
            check_not_exists_items: |
              *directml*
              *cuda*
              *cudnn*
              *onnxruntime*providers*
              *eula*
              *nvidia*
              *cufft*
              *curand*
          - name: Min option確認
            os: windows-latest
            download_command: ./scripts/downloads/Download.ps1 -Min $True
            download_dir: voicevox_core
            check_items: |
              core.dll
              README.txt
            check_not_exists_items: |
              *directml*
              *cuda*
              *cudnn*
              *onnxruntime*providers*
              *eula*
              *nvidia*
              *cufft*
              *curand*
              open_jtalk_dic_utf_8-1.11
          - name: DirectML option確認
            os: windows-latest
            download_command: ./scripts/downloads/Download.ps1 -Accelerator directml
            download_dir: voicevox_core
            check_items: |
              core.dll
              open_jtalk_dic_utf_8-1.11
              README.txt
              DirectML.dll
              DirectML_LICENSE.txt
            check_not_exists_items: |
              *directml*
              *cuda*
              *cudnn*
              *eula*
              *nvidia*
              *cufft*
              *curand*
          - name: DirectMLかつMin option確認
            os: windows-latest
            download_command: ./scripts/downloads/Download.ps1 -Accelerator directml -Min $true
            download_dir: voicevox_core
            check_items: |
              core.dll
              README.txt
            check_not_exists_items: |
              *cuda*
              *cudnn*
              *eula*
              *nvidia*
              *cufft*
              *curand*
              Directml.dll
              DirectML_LICENSE.txt
              open_jtalk_dic_utf_8-1.11
          - name: cuda option確認
            os: windows-latest
            download_command: ./scripts/downloads/Download.ps1 -Accelerator cuda
            download_dir: voicevox_core
            check_items: |
              core.dll
              open_jtalk_dic_utf_8-1.11
              README.txt
              EULA.txt
              NVIDIA_SLA_cuDNN_Support.txt
              cublas64_*.dll
              cublasLt64_*.dll
              cudart64_*.dll
              cudnn64_*.dll
              cudnn_adv_infer64_*.dll
              cudnn_cnn_infer64_*.dll
              cudnn_ops_infer64_*.dll
              cufft64_*.dll
              curand64_*.dll
            check_not_exists_items: |
              *directml*
          - name: cudaかつmin option確認
            os: windows-latest
            download_command: ./scripts/downloads/Download.ps1 -Accelerator cuda -Min $true
            download_dir: voicevox_core
            check_items: |
              core.dll
              README.txt
            check_not_exists_items: |
              *directml*
              EULA.txt
              NVIDIA_SLA_cuDNN_Support.txt
              cublas64_*.dll
              cublasLt64_*.dll
              cudart64_*.dll
              cudnn64_*.dll
              cudnn_adv_infer64_*.dll
              cudnn_cnn_infer64_*.dll
              cudnn_ops_infer64_*.dll
              cufft64_*.dll
              curand64_*.dll
              open_jtalk_dic_utf_8-1.11
          - name: 通常ダウンロード
            os: ubuntu-latest
            download_command: ./scripts/downloads/download.sh
            download_dir: voicevox_core
            check_items: |
              libcore.so
              open_jtalk_dic_utf_8-1.11
              README.txt
            check_not_exists_items: |
              *directml*
              *cuda*
              *cudnn*
              *onnxruntime*providers*
              *eula*
              *nvidia*
              *cufft*
              *curand*
          - name: output先指定ダウンロード
            os: ubuntu-latest
            download_command: ./scripts/downloads/download.sh --output other_output
            download_dir: other_output
            check_items: |
              libcore.so
              open_jtalk_dic_utf_8-1.11
              README.txt
            check_not_exists_items: |
              *directml*
              *cuda*
              *cudnn*
              *onnxruntime*providers*
              *eula*
              *nvidia*
              *cufft*
              *curand*
          - name: min option確認
            os: ubuntu-latest
            download_command: ./scripts/downloads/download.sh --min
            download_dir: voicevox_core
            check_items: |
              libcore.so
              README.txt
            check_not_exists_items: |
              *directml*
              *cuda*
              *cudnn*
              *onnxruntime*providers*
              *eula*
              *nvidia*
              *cufft*
              *curand*
              open_jtalk_dic_utf_8-1.11
          - name: cuda option確認
            os: ubuntu-latest
            download_command: ./scripts/downloads/download.sh --accelerator cuda
            download_dir: voicevox_core
            check_items: |
              libcore.so
              open_jtalk_dic_utf_8-1.11
              README.txt
              EULA.txt
              NVIDIA_SLA_cuDNN_Support.txt
              libcublas.so.*
              libcublasLt.so.*
              libcudnn.so.*
              libcudnn_adv_infer.so.*
              libcudnn_cnn_infer.so.*
              libcudnn_ops_infer.so.*
              libcufft.so.*
              libcurand.so.*
            check_not_exists_items: |
              *directml*
          - name: cudaかつmin option確認
            os: ubuntu-latest
            download_command: ./scripts/downloads/download.sh --accelerator cuda --min
            download_dir: voicevox_core
            check_items: |
              libcore.so
              README.txt
            check_not_exists_items: |
              *directml*
              EULA.txt
              NVIDIA_SLA_cuDNN_Support.txt
              libcublas.so.*
              libcublasLt.so.*
              libcudnn.so.*
              libcudnn_adv_infer.so.*
              libcudnn_cnn_infer.so.*
              libcudnn_ops_infer.so.*
              libcufft.so.*
              libcurand.so.*
              open_jtalk_dic_utf_8-1.11
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}-${{ matrix.os }}
    env:
      EXPECTED_VOICEVOX_CORE_VERSION: ${{ matrix.expected_version || 'latest' }}
    steps:
      - uses: actions/checkout@v2
      - name: Execute download command
        run: ${{ matrix.download_command }}
      - name: Get latest version
        if: ${{ env.EXPECTED_VOICEVOX_CORE_VERSION == 'latest' }}
        shell: bash
        run: |
          echo "EXPECTED_VOICEVOX_CORE_VERSION=$(curl -sSfI "https://github.com/VOICEVOX/voicevox_core/releases/latest"| grep "location:" | sed -e "s%location: https://github.com/VOICEVOX/voicevox_core/releases/tag/%%" | sed 's/\r//g')" >> $GITHUB_ENV
      - name: Check downloaded version
        shell: bash
        run: |
          [ -e "${{ matrix.download_dir }}/VERSION" ]
          [ "$(cat "${{ matrix.download_dir }}/VERSION")" = "${{ env.EXPECTED_VOICEVOX_CORE_VERSION }}" ]
      - name: Check downloaded files
        shell: bash
        run: |
          items=($(echo -e "${{ matrix.check_items }}" | xargs))
          for item in "${items[@]}"
          do
            echo "check exists ${{ matrix.download_dir }}/${item}..."
            [ -e "${{ matrix.download_dir }}"/${item} ]
          done
      - name: Check should not exists files
        shell: bash
        run: |
          items=($(echo -e "${{ matrix.check_not_exists_items }}" | xargs))
          for item in "${items[@]}"
          do
            echo "check should not exists ${{ matrix.download_dir }}/${item}..."
            [ ! -e "${{ matrix.download_dir }}"/${item} ]
          done
