name: "Lint Python code"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ./example/python/**/*.py
      - ./crates/voicevox_core_python_api/**/*.py
      - ./crates/voicevox_core_python_api/requirements*.txt
      - ./crates/voicevox_core_python_api/pyproject.toml
      - ./.github/workflows/python_lint.yml

defaults:
  run:
    shell: bash
    working-directory: ./crates/voicevox_core_python_api

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Check code style for voicevox_core_python_api
        run: |
          black --check .
          isort --check .
      - name: Check code style for example/python
        working-directory: ../example/python
        run: |
          black --check .
          isort --check .
