name: "Lint Python code"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'example/python/**.py'
      - 'crates/voicevox_core_python_api/**.py'
      - 'crates/voicevox_core_python_api/requirements*.txt'
      - 'crates/voicevox_core_python_api/pyproject.toml'
      - '.github/workflows/python_lint.yml'

defaults:
  run:
    shell: bash
    working-directory: ./crates/voicevox_core_python_api

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install Poetry
        run: |
          python -m pip install --upgrade poetry
          poetry config virtualenvs.create false
      - name: Validate poetry.lock
        run: |
          poetry lock
          git diff --exit-code
      - name: Install dependencies
        run: poetry install --with test
      - name: Check code style for voicevox_core_python_api
        run: |
          black --check .
          isort --check .
      - name: Check code style for example/python
        working-directory: ./example/python
        run: |
          black --check --diff .
          isort --check --diff --profile black .
