name: Check typos

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  typos:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: typos-action
        uses: crate-ci/typos@v1.36.2
